<h1>Edit Student Form</h1>

<%= form_for @student do |f| %>
    <label>Title:
    <%= f.text_field :first_name %>
    </label>
    
    <br>
    
    <label>Room Number
    <%= f.text_field :last_name %>
    </label>
    <br>

    <%= f.submit %>
<% end %>